<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.pixplicity.cryptogram"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".CryptogramApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.LandingActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".activities.CryptogramActivity"
            android:targetActivity=".activities.LandingActivity"/>

        <activity
            android:name=".activities.PuzzleActivity"
            android:parentActivityName=".activities.LandingActivity"
            android:windowSoftInputMode="adjustResize"
            tools:targetApi="jelly_bean"/>

        <activity
            android:name=".activities.ContributeActivity"
            android:parentActivityName=".activities.LandingActivity"
            tools:targetApi="jelly_bean"/>

        <activity
            android:name=".activities.HowToPlayActivity"
            android:parentActivityName=".activities.LandingActivity"
            tools:targetApi="jelly_bean"/>

        <activity
            android:name=".activities.AboutActivity"
            android:parentActivityName=".activities.LandingActivity"
            tools:targetApi="jelly_bean"/>

        <activity
            android:name=".activities.SettingsActivity"
            android:parentActivityName=".activities.LandingActivity"
            tools:targetApi="jelly_bean"/>

        <activity
            android:name=".activities.AboutActivity"/>

        <receiver android:name=".utils.NotificationPublisher"/>

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cb7ab6c28552bf25b9c45e17100b55d0e3a8686a"/>

    </application>

</manifest>
